.FretGroup {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.FretGroup:last-child {
    visibility: hidden;
}

.FretGroup__fret {
    width: 4px;
    border: solid gray 1px;
    border-radius: 2px;
    height: 96%;
    position: relative;
    top: 1%;
}

.FretGroup__space {
    flex-grow: 1;
    position: relative;
}
