.Fretboard {
    width: 90vw;
    height: 120px;
    border: solid gray 1px;
    display: flex;
    margin: 20px auto 5px;
    position: relative;
}

.Fretboard__string {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0.5;
    background: repeating-linear-gradient(
        45deg,
        #ababa4,
        #ababa4 0.5px,
        #8d6a1b 0.5px,
        #ababa4 1.5px
    );
}

.Fretboard__string--1 {
    background: lightgray;
    height: 1px;
    top: 10%
}
.Fretboard__string--2 {
    background: lightgray;
    height: 1px;
    top: 26%
}
.Fretboard__string--3 {
    height: 0.05em;
    top: 42%
}
.Fretboard__string--4 {
    height: 0.13em;
    top: 58%
}
.Fretboard__string--5 {
    height: 0.15em;
    top: 73%
}
.Fretboard__string--6 {
    height: 0.2em;
    top: 89%
}
