.FretboardInfo {
    width: 90vw;
    min-height: 45px;
    height: 45px;
    border: solid pink 1px;
    display: flex;
    margin: 5px auto;
}

.FretboardInfo__spacer {
    width: 20px;
    height: 100%;
    position: relative;

}

.FretboardInfo__column {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    width: 30px;
    border: solid green 1px;
}