.Fret {
    width: 4px;
    border: solid gray 1px;
    border-radius: 2px;
    height: 96%;
    position: absolute;
    top: 1%;
    bottom: 1%;
    right: -2px;
    display: flex;
    flex-direction: column;
}
