.HitBox {
    width: 600%;
    position: relative;
    left: -280%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HitBox__note {
    background-color: gray;
    border-radius: 100%;
    height: 100%;
    width: 90%;
    position: relative;
    display: none;
}

.HitBox:hover {
    cursor: pointer;
}

.HitBox:hover .HitBox__note {
    display: block;
}

.HitBox__note--pinned {
    display: block;
    background-color: orangered;
}

.HitBox__note-name {
    visibility: hidden;
    color: white;
    font-size: 12px;
    width: 100%;
    height: 100%;
    text-align: center;
    letter-spacing: -3px;
}

.HitBox__note-name--pinned {
    visibility: visible;
}

.HitBox__note-name-modifier {
    font-size: 8px;
}
