.HitBox {
    width: 600%;
    position: relative;
    left: -280%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HitBox__note {
    background-color: gray;
    border-radius: 70%;
    height: 70%;
    width: 70%;
    position: relative;
    display: none;
}

.HitBox:hover {
    cursor: pointer;
}

.HitBox:hover .HitBox__note {
    display: block;
}

.HitBox__note--pinned {
    display: block;
    background-color: orangered;
}
